@import "reset.css";

/* 기본 레이아웃  */
#wrap {
  width: 100%;
  height: 100%;
  margin: auto;
}
/* 상단 영역 */
#header {
  position: relative;
  width: 970px;
  height: 109px;
  margin: auto;
}
/* header 안에 있는 h1 태그의 문자열을 없애고,
 배경이미지로 logo.png로 설정한다. */
#header > h1 {
  width: 181px;
  height: 59px;
  /*이미지 경로는 html 문서 기준으로 상대 경로를 지정 */
  background: url(../src/img/logo.png) no-repeat;
  text-indent: -99999px;
}
/* 메뉴 작업 */
/* 클래스가 gnb의 위치는 절대적 위치로 지정하고, 너비는 100%, 높이는 50px
각 li의 너비는 194px 정한다.
그리고 float 개념으로 수평 메뉴를 지정하자 
배경색은 #ff5001 마우스를 올렸을 때의 배경색은 #d24c09
*/
#header > ul.gnb {
  position: absolute;
  width: 100%;
  height: 50px;
  overflow: hidden;
}
#header > ul.gnb > li {
  width: 194px;
  height: 100%;

  float: left;
  text-align: center;
  background-color: #ff5001;
}
#header > ul.gnb > li.end {
  clear: both;
  width: 0;
  height: 0;
}
#header > ul.gnb > li:hover {
  background-color: #e24c09;
}
#header > ul.gnb > li > a {
  display: block;
  height: 100%;
  width: auto;
  text-align: center;
  line-height: 58px;
}
#header > ul.gnb > li > a > span.menu {
  display: inline-block;
  color: white;
  font: bold 16px sans-serif;
  background: url(../src/img/gnb_bult.png) no-repeat;
  padding-left: 30px;
}
#header > ul.gnb > li > a > span.m02 {
  background-position: 0 -22px;
}
#header > ul.gnb > li > a > span.m03 {
  background-position: 0 -44px;
}
#header > ul.gnb > li > a > span.m04 {
  background-position: 0 -66px;
}
#header > ul.gnb > li > a > span.m05 {
  background-position: 0 -88px;
}
